/* GENERALS BINDS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #FFF;
}


body {
    background: hsl(217, 28%, 15%);
    font-family: 'Raleway', 'Montserrat', sans-serif;
    font-size: 16px;
    color: #FFF;
}

/* END GENERAL BINDS */

/* NAVBAR */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
    font-family: 'Raleway', sans-serif;
    z-index: 2;
    letter-spacing: .1em;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    transition: .7S;
}

nav ul li a {
    color: #fff;
    padding: 0 20px;
    font-size: 1.1em;
    text-decoration: none;
    transition: .7s;
}

nav ul li:hover {
    transform: translateY(-1px);
    transition: .5s;
}

nav ul li a:hover {
    color: #933ae7;
    transition: .3s;
}

.brand {
    font-weight: 900;
    font-size: 20px;
    color: hsl(281, 86%, 46%);  
}

.logo {
    height: 200px;
}

/* END NAVBAR */



/* FOOTER */

footer {
    background-color: hsl(216, 53%, 9%);
}

footer .container {
    padding: 220px 80px 80px 80px ;
}

.logo-footer {
    margin-left: 100px;
    height: 160px;
}

.parts {
    height: 300px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.part {
    width: 30%;
    height: 100%;
}

footer ul {
    color: #fff;
    line-height: 1.8em;
}

footer li {
    list-style-type: none;
}

.socials {
    height: 40px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: auto;
}

.social i {
    color: #fff;
    background-color: #9b00f4;
    padding: 5px;
    width: 100%;
    border-radius: 2px;
    opacity: .8;
}

.social i:hover {
    cursor: pointer;
}

.mentions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 100px auto 0 auto;
}

.mention-p {
    color: #fff;
    font-weight: 600;
}

/* END FOOTER */


/* LANDING PAGE */

#container {
    margin-top: 180px;
    width: 100%;
}

.banner {
    z-index: 99;
}

.banner-img {
    display: block;
    width: 26%;
    margin: 0 auto;
}

.banner-titles {
    color: #FFF;
    padding-top: 40px;
    width: 60%;
    margin: auto;
    text-align: center;
}

.banner-titles h1 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

.banner-titles h2 {
    font-size: 16px;
    line-height: 2.5em;
    font-family: 'Open Sans', sans-serif;
    width: 40%;
    margin: 30px auto;
    text-align: center;
    font-weight: 400;
}

.fst-part {
    height: 993px;
    background: center / contain no-repeat url("../img/bg-curvy-desktop.svg"), hsl(217, 28%, 15%);
    background-position: 0 400px;
}

.gs-btn {
    border-radius: 2em;
    border-style: none;
    padding: 18px 40px;
    font-size: 16px;
    display: block;
    margin: 30px auto;
    font-weight: bold;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
}

.gs-btn-link {
    padding: 18px 40px;
    border-radius: 2em;
}

.snd-part {
    background-color: hsl(218, 28%, 13%);
    height: 1100px;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 46%;
    margin: 0 auto 30px auto;
}

.showcase section img {
    width: 250px;
    height: 250px;
}

.showcase section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
    width: 300px;
    margin: 0 0 140px 0;
}

.showcase-p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


.thd-part {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 25%;
    height: 300px;
    border-radius: 10px;
    background-color: hsl(219, 30%, 18%);
    margin: -160px auto;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
}

.ga-title {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2em;
    text-align: center;
    font-size: 30px;
    padding: 25px 0 30px;
    color: #9b00f4;
}

.ga-p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.mails {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
}

.mails input {
    color: rgb(116, 116, 116);
    width: 450px;
    border-radius: 1.6em;
    border-style: none;
    font-size: 16px;
    padding: 16px 40px;
}

.gs-btn-mail {
    border-radius: 2em;
    border-style: none;
    padding: 16px 40px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: #FFF;
}

.mails p {
    text-decoration: underline #FFF;
}

.thd-part .right-part {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    font-size: .9em;
}

/* END LANDING PAGE */



/* FORMS PAGE*/

.nav-queries {
    font-weight: 600;
    font-size: 1em;
    width: 40%;
    margin: 30px auto;
}

.nav-queries ol {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.forms {
    margin-top: 200px;
}

nav ol {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ol li {
    list-style-type: none;
    transition: .7S;
}

nav ol li a {
    color: #fff;
    padding: 0 20px;
    font-size: 1.1em;
    text-decoration: none;
    transition: .7s;
}

nav ol li:hover {
    transition: .5s;
}

nav ol li a:hover {
    color: #933ae7;
    transition: .3s;
}

.form-title {
    color: rgb(151, 13, 206);
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    border: 1px solid #FFF;
    padding: 10px;
    text-align: center;
    background-color: rgb(91, 83, 119);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

th {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width: 750px;
    background: linear-gradient(to bottom right, hsl(234, 89%, 15%), hsl(266, 95%, 16%));
}

table {
    color: #FFF;
    border-collapse: collapse;
    border: 2px solid #FFF;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    margin: 0 auto 80px auto;
}

.left-part label {
    color: #0072f4;
    display: flex;
    align-self: center;
}

input[type='number'] {
    border-style: none;
    font-size: 14px;
    padding: 2px;
    font-weight: 400;
    background-color: rgba(188, 206, 224, 0.884);
    padding: 10px 10px;
}

.forms .form {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 200px auto 50px auto;
    height: 100%;
    gap: 10px;
    min-height: 200px;
}

.forms .form .left-part {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.forms form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.code {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.form form input[type="submit"] {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 10px 10px;
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    color: #FFF;
    border-radius: 10px;
    border-style: none;
}

.form form input[type="submit"]:hover {
    cursor: pointer;
}


#code-show11 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}

#code-show12 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}
#code-show13 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}
#code-show14 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}
#code-show21 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}
#code-show22 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}
#code-show23 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}

#code-show24 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}

#code-show25 {
    width: 100%;
    display: none;
    background-color: hsl(216, 53%, 9%);
    border: 1px solid #933ae7;
    border-radius: 4px;
    margin-left: 20px;
    padding: 6px;
}

code {
    font-family: 'Nanum Gothic Coding', monospace;
}

span.sql-word {
    color: #708;
}


/* END FORMS PAGE */


/* NAV FORMS */

.nav-forms nav {
    display: flex;
    align-items: center;
    background: rgb(6, 26, 53);
    height: 3rem;
}

.nav-forms ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

/* END NAV FORMS */



/* CONTACT */

.contact-form {
    width: 60%;
    margin: auto;
    border-radius: 5px;
    padding: 5rem;
    box-shadow: 10px 10px 30px #000, -10px -10px 30px rgb(6, 2, 19);
    margin-bottom: 5rem;
    background-color: rgba(22, 23, 39, 0.548);
}

.title-form {
    text-align: center;
    margin: 20px;
}

.snd-form-title {
    font-size: 14px;
    font-family: Geneva, Tahoma, sans-serif;
    color: grey;
}

.border {
    width: 10%;
    height: .3rem;
    margin: 0 auto 50px auto;
    background-color: #933ae7;
}

.contact-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem auto;
}

.contact-fields input, .contact-form-textarea {
    border-style: none;
    border-radius: 2px;
    padding-left: 15px;
    background-color: rgb(5, 12, 22);
    font-size: 16px;
    color: rgb(214, 214, 216);
    border-radius: 3px;
    display: block;
    width: 100%;
    min-height: 48px;
    outline: 0;
}

.contact-form-btn {
    transition: .7s ease;
}

.contact-form-btn:hover {
    transition: .7s ease;
    background-color: purple;
}

.contact-fields input:focus, .contact-form-textarea:focus {
    border: 1px solid purple;
}

textarea {
    height: 200px;
    padding-top: 15px;
}

.contact-fields label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.map-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    margin: auto auto 3rem auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 2rem;
}

.map-form p {
    margin-right: 5%;
    width: 20%;
    line-height: 2em;
}


/* END CONTACT */